body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
  padding: 0px 52px;
}

.anh_khoa {
  position:relative;
  display:block;
  margin-left: 0;
  margin-right: 0;
  width: 50%;
  height:max-content;
  margin-left:auto ;
  margin-right:auto;
  border-radius: 10px;
}

.App {
  text-align: center;
  padding: 0;
  background-color: #343a40;
}

h1, h3, h4, button {
  margin: 10px 0;
}

.title{
  text-align: left;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

li{
  list-style-type: none;
}
.content{
  text-align:justify;
  margin-right: 30px
}

.text-full{
  color: white;
}

.btn-email{
  background-color: aliceblue;
  color: black;
}

.btn-linkedin{
  color: white;
  background-color: aqua;
}

.btn{
  padding-left: 32px;
  padding-right: 32px;
  margin: 4px 4px;
}

.icon--footer{
  padding:8px 8px;
  color:antiquewhite;
}

.My--name{
  color: aliceblue;
}

.myname{
  padding-top: 4px;
  padding-bottom: 6px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.myjob{
  padding-top: 4px;
}

.border-radius{
  border-radius: 4px;
}